* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
/* button */
.theme-button {
  text-transform: uppercase;
  padding: 0 30px;
  line-height: 52px;
  font-size: 14px;
  font-weight: 700;
}
.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
  transition: all 0.5s;
}
.btn-outline-primary:hover {
  color: white;
  border-color: #dc4f72;
  background-color: #dc4f72;
}
/* start header */
header {
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: white;
}
.navbar {
  padding: 0;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  color: #dc4f72;
  font-size: 26px;
  font-weight: 700;
}
header .header_nav {
  display: flex;
  justify-content: flex-end;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #dc4f72;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 14px 0;
  color: #2c3038;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-link::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: #dc4f72;
  bottom: 15px;
  transition: all 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #dc4f72;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::before {
  width: 20px;
}
.nav-item {
  padding: 0 15px;
  position: relative;
}
button.navbar-toggler .icon-expand {
  display: none;
}
button.navbar-toggler.collapsed .icon-expand {
  display: block;
}
button.navbar-toggler .icon-close {
  display: block;
}
button.navbar-toggler.collapsed .icon-close {
  display: none;
}
.navbar-toggler-icon.fa {
  color: white;
  background-color: #dc4f72;
  line-height: 30px;
  border-radius: 5px;
}
.navbar-toggler {
  padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-link span.fa {
  padding-left: 2px;
  font-size: 14px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -40px;
  border-radius: 5px;
  z-index: 100;
  display: none;
  background-color: white;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-menu::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-right: none;
  border-bottom: none;
  left: 40%;
  top: -8px;
  transform: translateX(50%) rotate(45deg);
  background-color: white;
  z-index: 101;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-item {
  position: relative;
  transition: all 0.5s;
  background-color: white;
  padding-bottom: 14px;
}
.dropdown-item:hover {
  color: #dc4f72;
  background-color: white;
}
.dropdown-item::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: #dc4f72;
  bottom: 5px;
  left: 24px;
  transition: all 0.5s;
}
.dropdown-item:hover::after {
  width: 20px;
}
/* end header */
/* start carousel */
.carousel {
  margin-top: 90px;
}
.carousel .content {
  position: relative;
  background-image: url(./pics/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  overflow: hidden;
  z-index: 1;
  padding-top: 80px;
}
.carousel .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.97);
  height: 100%;
  width: 100%;
  z-index: 2;
}
.carousel .container {
  position: relative;
  z-index: 3;
}
.carousel .content-left h2 {
  font-size: 50px;
  color: #2c3038;
  font-weight: 700;
}
.carousel .content-left p {
  font-size: 20px;
  color: #2c3038;
  font-weight: lighter;
  margin: 15px 120px 50px 0;
}
.carousel .content-right img {
  transform: rotate(180deg);
}
/* end carousel */
/* start services */
.services .services-header {
  max-width: 750px;
  margin: 0 auto;
}
.services .services-header h6 {
  text-transform: uppercase;
  color: #dc4f72;
  font-size: 16px;
  font-weight: 700;
}
.services .services-header h2 {
  color: #2c3038;
  font-size: 46px;
  font-weight: 700;
  line-height: 1;
  margin: 10px 0;
}
.services .services-header p {
  font-size: 16px;
  color: #5a5a5a;
  margin: 20px 0;
}
.services .services-card {
  background-color: #f7f9fc;
  padding: 50px 45px;
  border-radius: 6px;
  transition: all 0.3s ease-in;
  border: 1px solid #f7f9fc;
}
.services .services-card a {
  text-decoration: none;
}
.services .services-card h3 {
  color: #2c3038;
  margin: 15px 0;
  font-size: 26px;
}
.services .services-card p {
  color: #5a5a5a;
  font-size: 15px;
}
.services .services-card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  background-color: white;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 16px 0;
}
/* end services */
/* start about */
.aboutUs {
  background-color: #f7f9fc;
}
.aboutUs_left h6 {
  text-transform: uppercase;
  color: #dc4f72;
  font-size: 16px;
  font-weight: 700;
}
.aboutUs_left h2 {
  color: #2c3038;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  margin: 10px 0;
}
.aboutUs_left p {
  color: #5a5a5a;
}
.aboutUs_left .theme-button {
  background-color: #dc4f72;
  border: #dc4f72;
  color: white;
  transition: 0.3s;
}
.aboutUs_left .theme-button:hover {
  background-color: #d62f58;
  border: #cf2952;
}
.aboutUs_right img {
  transition: 0.3s ease-in-out;
}
.aboutUs_right img:hover {
  transform: translateY(-10px);
}
/* end about */
/* start number */
.number {
  background-color: #f7f9fc;
}
.number .number_detail {
  background-color: #fff;
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #eeeeee;
  box-shadow: rgba(196, 196, 196, 0.2) 1px 5px 7.5px 0;
  transition: 0.3s ease-in;
}
.number .number_detail:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09);
}
.number .number_detail h6 {
  text-transform: capitalize;
  font-weight: 700;
}
.number .number_detail h2 {
  color: #dc4f72;
  font-weight: 700;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.number .number_detail p {
  color: #5a5a5a;
  margin: 0;
}
/* end number */
/* start stats */
.stats_background {
  position: relative;
  background-image: url("./pics/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  align-items: center;
  z-index: 1;
  min-height: 480px;
}
.stats_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 2;
}
.stats .container {
  position: relative;
  z-index: 5;
}
.stats_content {
  max-width: 550px;
}
.stats_content h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.stats_content p {
  color: #eeeeee;
}
.stats_content .theme-button {
  transition: 0.3 ease-out;
}
/* end stats */
/* start BackToTop button */
.backToTop {
  display: block;
  position: fixed;
  right: 0;
  bottom: 10%;
  background-color: #dc4f72;
  border: none;
  color: white;
  width: 50px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 0.7;
}
.backToTop:hover {
  border: none;
  color: white;
  opacity: 1;
}
/* end BackToTop button */
/* start dark theme button */
.dark_theme .btn {
  position: fixed;
  bottom: 150px;
  right: 0;
  z-index: 1040;
  color: white;
  background-color: #dc4f72;
  border: 1px solid #dc4f72;
  width: 50px;
  height: 45px;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
}
/* light theme */
#switchButton .fa-moon {
  display: block;
  color: white;
}
#switchButton .fa-sun {
  display: none;
}
/* dark theme */
.dark #switchButton .fa-sun {
  display: block;
  color: #dc4f72;
}
.dark #switchButton .fa-moon {
  display: none;
}
.dark #myBody {
  background-color: white;
}
.dark #switchButton {
  background-color: black;
}
.dark .header_nav {
  background-color: black;
  color: white;
}
.dark .services {
  background-color: black;
  color: white;
}
.dark .aboutUs {
  background-color: black;
  color: white;
}
.dark .number {
  background-color: black;
}
/* end dark theme button */
/* Responsive */
@media only screen and (max-width: 1920px) {
  .container {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 25px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 25px;
    margin: 0 auto;
  }
  .navbar-nav {
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }
  header {
    height: auto;
  }
  .carousel {
    margin-top: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}
